:root {
  --background: #000;
  --primary: #08ffff;
  --primary-light: #92c4dd;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  background-color: var(--background);
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

input {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid var(--primary);
  background-color: transparent;
  height: 50px;
  line-height: 1.4em;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600 !important;
  padding: 8px 12px !important;
  transition: all 0.3s ease;
  position: relative;
}

input:focus {
  border: 2px solid var(--primary) !important;
  box-shadow: 0px 0px 3px 1px var(--primary) !important;
  outline: none;
}

._field-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

._field-wrapper.checked::before {
  content: '';
  width: 15px;
  height: 9px;
  border-left: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  right: 10px;
  margin-top: -4px;
}

button {
  background: linear-gradient(to right, #4b83e8, #08ffff) !important;
  padding: 10px 25px !important;
  border-radius: 3px;
  font-weight: 600 !important;
  color: #000 !important;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 890px !important;
  padding: 0 18px !important;
  margin: 0 auto !important;
  position: relative;
  z-index: 9;
}

.container-lg {
  max-width: 1100px !important;
}

/* START:: Pagina INDEX */
.hero {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero::after {
  background-image: url('../images/hero.jpg');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.35;
  z-index: 0;
}

.hero::before {
  content: '';
  background: radial-gradient(rgba(75, 131, 232, 0.45), transparent 100%);
  position: absolute;
  width: 100vw;
  height: 200vh;
  top: -100vh;
}
/* END:: Pagina INDEX */

/*START:: Pagina V2 */
.box-evento {
  width: 100%;
  height: auto;
  padding: 40px 20px 20px 20px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.box-evento::before {
  content: '';
  background: radial-gradient(rgba(75, 131, 232, 0.3), transparent 100%);
  position: absolute;
  width: 100%;
  height: 200%;
  top: -100%;
  z-index: 2;
}

.box-evento::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.15;
  z-index: 0;
}

.evento-01::after {
  background-image: url('../images/evento01.png');
}

.evento-02:after {
  background-image: url('../images/evento02.png');
}

.evento-03::after {
  background-image: url('../images/evento03.png');
}

.nova-era {
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.nova-era::after {
  background-image: url('../images/nova-era.png');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  opacity: 1;
  z-index: 0;
}
/*END:: Pagina V2 */

/* START:: Pagina OBRIGADO  */
.obrigado {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}

.obrigado::after {
  background-image: url('../images/obrigado.png');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.25;
  z-index: 0;
}

.obrigado::before {
  content: '';
  background: radial-gradient(rgba(75, 131, 232, 0.35), transparent 70%);
  position: absolute;
  width: 100vw;
  height: 200vh;
  top: -100vh;
}

.button-primary {
  background: linear-gradient(to right, #4b83e8, #08ffff) !important;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-primary:hover {
  opacity: 0.8;
}

.box-step {
  width: 100%;
  border: 2px solid var(--primary);
  position: relative;
  display: block;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  flex-direction: column;
}

.box-timer {
  border: 2px solid var(--primary);
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END:: Pagina OBRIGADO  */

/* Breakpoint */
@media (max-width: 1024px) {
  .hero::after {
    background-size: cover;
    background-position: right;
  }

  .hero::before {
    background: radial-gradient(rgba(75, 131, 232, 0.35), transparent 100%);
  }

  .obrigado::after {
    background-size: cover;
    background-position: center;
  }

  .box-step {
    padding: 30px 20px;
  }

  .nova-era::after {
    background-size: cover;
  }
}

/* 
/
/
/
/
/
/
/
*/
._form-label {
  font-size: 14px;
}
._error-inner {
  color: #f75252 !important;
  font-size: 14px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  top: -21px;
}
