@font-face {
  font-family: Eurostile;
  src: url('../font/Eurostile.otf') format('opentype');
}

@font-face {
  font-family: Europa;
  src: url('../font/Europa.otf') format('opentype');
}

:root {
  --background: #040c19;
  --primary: #07ffff;
  --secondary: #4460ef;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.font-primary {
  font-family: Europa;
}

.text-secondary {
  color: #4460ef;
}

.bg-01 {
  position: absolute;
  width: 2528px;
  height: 2529px;
  left: -1687px;
  top: -82px;

  background: radial-gradient(
    47.51% 50% at 50% 50%,
    rgba(40, 30, 243, 0.33) 0%,
    rgba(11, 0, 255, 0) 72.92%
  );
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  font-weight: 300;
  font-family: Europa;
}

select,
select option {
  color: #353535 !important;
}

html,
body {
  background-color: var(--background);
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h1 strong,
h2 strong,
h3 strong,
h4 strong {
  font-family: Eurostile;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

input {
  background-color: #000314 !important;
  width: 100%;
  margin-bottom: 15px;
  border-image-source: linear-gradient(70deg, #07ffff, #281ef3);
  border-width: 1pt;
  border-image-slice: 1;
  background-color: transparent;
  height: 50px !important;
  line-height: 50px !important;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600 !important;
  padding: 8px 12px !important;
  transition: all 0.3s ease;
  position: relative;
}

input:focus {
  box-shadow: 0px 0px 3px 1px var(--primary) !important;
  outline: none;
}

._field-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

._field-wrapper.checked::before {
  content: '';
  width: 15px;
  height: 9px;
  border-left: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  right: 10px;
  margin-top: -4px;
}

button:not(.smartplayer-icon):not(.kw-inline-flex) {
  width: fit-content;
  background: linear-gradient(268.62deg, #07ffff -25.4%, #281ef3 80.5%);
  box-shadow: 0px 0px 18px #281ef3;
  padding: 14px 25px !important;
  border-radius: 1px;
  font-weight: 600 !important;
  color: #fff !important;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

button:not(.smartplayer-icon):not(.kw-inline-flex):hover {
  opacity: 0.8;
}

.button-primary {
  width: fit-content;
  background: linear-gradient(269.61deg, #cc00ff -26.33%, #0500ff 109.1%);
  box-shadow: 0px 0px 18px #281ef3;
  padding: 14px 25px !important;
  border-radius: 1px;
  font-weight: 600 !important;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-align: center;
}

.button-primary-02 {
  background: linear-gradient(
    268.62deg,
    #07ffff -25.4%,
    #281ef3 80.5%
  ) !important;
}

.button-primary:hover {
  opacity: 0.8;
}

.line-linear {
  width: 100%;
  height: 1px;
  display: block;
  background: linear-gradient(
    268.62deg,
    #07ffff -25.4%,
    #281ef3 80.5%
  ) !important;
}

.container {
  max-width: 920px !important;
  padding: 0 25px !important;
  margin: 0 auto !important;
  position: relative;
  z-index: 99;
}

.container-lg {
  max-width: 1100px !important;
}

/* START:: Pagina INDEX */
.hero {
  background-color: #000314;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.hero-main {
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-main::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: 0;
}

.hero-upsell::after {
  background-image: url('../images/bg-main.webp');
}

.hero-upsell2::after {
  background-image: url('../images/bg-main-2.webp');
  opacity: 0.6;
}

.hero-downsell1::after {
  background-image: url('../images/bg-downsell1.webp');
  background-position: top;
}

.hero-downsell2::after {
  background-image: url('../images/bg-downsell2.webp');
  background-position: top;
}

@media (max-width: 1024px) {
  .hero-main {
    min-height: auto;
  }
}

.hero-kayky {
  background-color: #000314;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  padding-bottom: 20px;
  z-index: 3;
}

@media (max-width: 1024px) {
  .hero-kayky {
    background-color: #00010a;
  }
  .hero-kayky img {
    width: 200% !important;
    max-width: 200% !important;
    margin-left: -50%;
    margin-top: auto;
  }
}

.hero .kayky {
  display: none;
}

.hero::after {
  background-image: url('../images/bg-hero.webp?v=3');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top right -38%;
  background-size: 75%;
  opacity: 1;
  z-index: 0;
}

@media (min-width: 1980px) {
  .hero::after {
    background-position: top right 30%;
    background-size: 50%;
  }

  .container-lg {
    max-width: 1380px !important;
  }
}

.header-remarketing {
  position: relative;
  z-index: 2;
}

.header-remarketing::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 26, 255, 0.15),
    rgba(5, 1, 94, 0.1)
  );
  backdrop-filter: blur(5px);
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.header-remarketing h2 {
  text-shadow: 0px 0px 4px #50eaff;
  color: #50eaff;
}

.hero-remarketing {
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-remarketing::after {
  background-image: url('../images/bg-nova-era.webp?v=2');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  opacity: 1;
  z-index: 0;
}

.hero-pesquisa {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-video {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-video::after {
  background-image: url('../images/bg-video.webp?v=3');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top left 60%;
  background-size: 135%;
  opacity: 1;
  z-index: 0;
}

#vid_6435de8af3c3f7000818239c {
  border-image-source: linear-gradient(70deg, #07ffff, #281ef3) !important;
  border-width: 1pt !important;
  border-image-slice: 1 !important;
  margin-top: 25px;
}

/* END:: Pagina INDEX */

/*START:: Pagina V2 */
.box-evento {
  background: #0c1428;
  border: 1px solid #314679;
  width: 100%;
  height: auto;
  padding: 40px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.nova-era {
  margin-top: -400px;
  padding-top: 400px;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.nova-era::after {
  background-image: url('../images/bg-nova-era.webp?v=2');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
}

.sobre-mim {
  position: relative;
  overflow: hidden;
}
/* 
.sobre-mim::after {
  background-image: url('../images/bg-sobre-mim-desktop.webp');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 1;
  z-index: 0;
} */

.footer-nova-era {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 2px solid #151c3e;
  border-bottom: 2px solid #151c3e;
}

.footer-nova-era::before {
  content: '';
  background-color: #0a101d;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

.footer-nova-era::after {
  background-image: url('../images/bg-footer.webp');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  z-index: 0;
}

.footer-nova-era h1 {
  text-shadow: 0px 0px 15px var(--primary);
}
/*END:: Pagina V2 */

/* Breakpoint */
@media (max-width: 1024px) {
  .bg-01 {
    display: none;
  }

  .hero::after {
    background-image: none;
    background-size: 140%;
    background-position: top;
  }

  .hero-remarketing::after {
    background-size: cover;
    background-position: right;
  }

  .hero .kayky {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block !important;
    position: relative;
  }

  .sobre-mim {
    padding-top: 330px !important;
  }

  .sobre-mim::after {
    background-image: url('../images/bg-sobre-mim-mobile.webp');
    background-size: 110%;
  }
}

@media (max-width: 640px) {
  .hero-video {
    min-height: auto;
  }

  .hero .kayky {
    width: 120%;
    max-width: 120%;
    left: -10%;
    top: -30px;
    display: block !important;
    position: relative;
  }

  #vid_6435de8af3c3f7000818239c {
    width: calc(100% + 50px) !important;
    border-image-source: none;
    border-width: 0pt;
    border-image-slice: 0;
  }

  .evento {
    position: relative;
    overflow: hidden;
    margin-top: -10px;
    z-index: 2;
  }

  .evento::after {
    background-image: url('../images/bg-nova-era.webp?v=1');
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    opacity: 1;
    z-index: 0;
  }

  .nova-era::after {
    background-image: none;
  }
}
/* START:: Pagina OBRIGADO  */
.obrigado {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}

.obrigado::after {
  background-image: url('../images/bg-nova-era.webp');
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.25;
  z-index: 0;
}

.obrigado::before {
  content: '';
  background: radial-gradient(
    47.51% 50% at 50% 50%,
    rgba(40, 30, 243, 0.33) 0%,
    rgba(11, 0, 255, 0) 72.92%
  );
  position: absolute;
  width: 100vw;
  height: 200vh;
  left: -50vw;
  top: -100vh;
}

.box-step {
  width: 100%;
  border-image-source: linear-gradient(70deg, #07ffff, #281ef3);
  border-width: 1pt;
  border-image-slice: 1;
  position: relative;
  display: block;
  border-radius: 5px;
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
}

.box-timer {
  width: fit-content;
  border: 2px solid var(--primary);
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .obrigado::after {
    background-size: 100%;
    background-position: top;
  }

  .obrigado::before {
    opacity: 0.7;
  }

  .box-step {
    padding: 30px 20px;
  }
}
/* END:: Pagina OBRIGADO  */

._form-label {
  font-size: 14px;
}
._error-inner {
  color: #f75252 !important;
  font-size: 14px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  top: -21px;
}

.container-hidden {
  display: none;
}

.ytp-chrome-top,
.ytp-chrome-bottom {
  display: none !important;
}

.ytp-pause-overlay {
  display: none !important;
}

.ytp-chrome-top {
  display: none !important;
}

/* Upsell */
.upsell-linear {
  background: linear-gradient(to right, #0a0f1e, #0b0f31);
}

.shadow-primary {
  text-shadow: 0px 0px 15px var(--primary);
}

.box-blob {
  width: 100%;
  height: 110px;
  border-left: 1px solid #fff;
  position: relative;
  margin-bottom: 46px;
}

.box-blob-small {
  height: 90px;
}

.box-blob-last {
  border-left: 0;
  height: 0px;
}

.venda .box-blob {
  height: 250px;
}

.venda .box-blob-last {
  height: 650px;
}

@media (max-width: 790px) {
  .venda .box-blob {
    height: 280px;
  }

  .venda .box-blob.box-blob-md {
    height: 370px;
  }

  .venda .box-blob.box-blob-lg {
    height: 540px;
  }

  .venda .box-blob-last {
    height: 1250px;
  }
}

.box-blob::after {
  content: '';
  background-color: #fff;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  left: -7.5px;
  top: -29.5px;
}

.box-blob::before {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #07ffff;
  z-index: 2;
  left: -14.5px;
  top: -36.5px;
}

.container-blob {
  position: absolute;
  max-width: 800px;
  margin-top: -42px;
  margin-left: 50px;
  top: 0;
}

.container-blob h4 {
  font-size: 26px;
}

@media (max-width: 1024px) {
  .box-blob::after {
    width: 12px;
    height: 12px;
    left: -6px;
  }

  .box-blob::before {
    border: 3px solid #07ffff;
    width: 24px;
    height: 24px;
    left: -12px;
    top: -36px;
  }

  .container-blob {
    margin-top: -38px;
    margin-left: 28px;
  }

  .container-blob h4 {
    font-size: 18px;
  }
}

.detail-price {
  width: 50%;
  height: 40px;
  background-color: #131440;
  margin: 0 auto;
  position: relative;
}

.detail-price::before {
  content: '';
  background-color: #131440;
  width: 40px;
  height: 40px;
  right: calc(100% - 20px);
  top: 0;
  transform: skewX(45deg);
  position: absolute;
}

.detail-price::after {
  content: '';
  background-color: #131440;
  width: 40px;
  height: 40px;
  left: calc(100% - 20px);
  top: 0;
  transform: skewX(-45deg);
  position: absolute;
}

/* Swiper */
.container-swiper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 64px 20px;
}
.button-next {
  position: absolute;
  right: 32px;
  top: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../images/icon-arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.button-prev {
  position: absolute;
  right: 88px;
  top: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../images/icon-arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.ytvideo {
  max-width: 100%;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.ytvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}
.swiper-slide {
  max-width: 420px;
}

/* kiwifi */
.kw-form-select-kiwi {
  border: 1px solid #a0aec0 !important;
}
